# Ex2 - GroupBy

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import matplotlib
import numpy as np

### Step 2. 
User ***Jupyter Lab*** to view ``../../DATA/drinks.cvs``.

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks = pd.read_csv('../../DATA/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks the most beer on average?

In [33]:
group_continents = drinks.groupby('continent')
group_continents.size().sort_values()

continent
SA    12
OC    16
AS    44
EU    45
AF    53
dtype: int64

In [56]:
AS = group_continents.get_group('AS')
AS.beer_servings.mean()

37.04545454545455

In [57]:
EU = group_continents.get_group('EU')
EU.beer_servings.mean()

193.77777777777777

In [58]:
AF = group_continents.get_group('AF')
AF.beer_servings.mean()

61.471698113207545

In [59]:
SA = group_continents.get_group('SA')
SA.beer_servings.mean()

175.08333333333334

In [60]:
OC = group_continents.get_group('OC')
OC.beer_servings.mean()

89.6875

### Step 5. For each continent print the statistics for wine consumption.

In [53]:
print('Asia wine consumotion\n',AS.wine_servings.describe(),'\n')
print('Europe wine consumotion\n',EU.wine_servings.describe(),'\n')
print('Africa wine consumotion\n',AF.wine_servings.describe(),'\n')
print('South America wine consumotion\n',SA.wine_servings.describe(),'\n')
print('Oceania wine consumotion\n',OC.wine_servings.describe(),'\n')

Asia wine consumotion
 count     44.000000
mean       9.068182
std       21.667034
min        0.000000
25%        0.000000
50%        1.000000
75%        8.000000
max      123.000000
Name: wine_servings, dtype: float64

Europe wine consumotion
 count     45.000000
mean     142.222222
std       97.421738
min        0.000000
25%       59.000000
50%      128.000000
75%      195.000000
max      370.000000
Name: wine_servings, dtype: float64

Africa wine consumotion
 count     53.000000
mean      16.264151
std       38.846419
min        0.000000
25%        1.000000
50%        2.000000
75%       13.000000
max      233.000000
Name: wine_servings, dtype: float64

South America wine consumotion
 count     12.000000
mean      62.416667
std       88.620189
min        1.000000
25%        3.000000
50%       12.000000
75%       98.500000
max      221.000000
Name: wine_servings, dtype: float64

Oceania wine consumotion
        beer_servings  spirit_servings  wine_servings  \
count      16.000000        16.000000       16.00000
mean       89.687500        58.437500       35.62500
std        96.641412        70.504817       64.55579
min         0.000000         0.000000        0.00000
25%        21.000000        18.000000        1.00000
50%        52.500000        37.000000        8.50000
75%       125.750000        65.250000       23.25000
max       306.000000       254.000000      212.00000

       total_litres_of_pure_alcohol
count                     16.000000
mean                       3.381250
std                        3.345688
min                        0.000000
25%                        1.000000
50%                        1.750000
75%                        6.150000
max                       10.400000

### Step 6. Print the mean alcoohol consumption per continent for every column

In [54]:
print('Asia mean alcohol consumotion\n',AS.mean(),'\n')
print('Europe mean alcohol consumotion\n',EU.mean(),'\n')
print('Africa mean alcohol consumotion\n',AF.mean(),'\n')
print('South mean alcohol wine consumotion\n',SA.mean(),'\n')
print('Oceania mean alcohol consumotion\n',OC.mean(),'\n')

Asia mean alcohol consumotion
 beer_servings                   37.045455
spirit_servings                 60.840909
wine_servings                    9.068182
total_litres_of_pure_alcohol     2.170455
dtype: float64

Europe mean alcohol consumotion
 beer_servings                   193.777778
spirit_servings                 132.555556
wine_servings                   142.222222
total_litres_of_pure_alcohol      8.617778
dtype: float64

Africa mean alcohol consumotion
 beer_servings                   61.471698
spirit_servings                 16.339623
wine_servings                   16.264151
total_litres_of_pure_alcohol     3.007547
dtype: float64

South mean alcohol wine consumotion
 beer_servings                   175.083333
spirit_servings                 114.750000
wine_servings                    62.416667
total_litres_of_pure_alcohol      6.308333
dtype: float64

Oceania mean alcohol consumotion
 beer_servings                   89.68750
spirit_servings                 58.43750
wine_servings                   35.62500
total_litres_of_pure_alcohol     3.38125
dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [55]:
print('Asia mean alcohol consumotion\n',AS.median(),'\n')
print('Europe mean alcohol consumotion\n',EU.median(),'\n')
print('Africa mean alcohol consumotion\n',AF.median(),'\n')
print('South mean alcohol wine consumotion\n',SA.median(),'\n')
print('Oceania mean alcohol consumotion\n',OC.median(),'\n')

Asia mean alcohol consumotion
 beer_servings                   17.5
spirit_servings                 16.0
wine_servings                    1.0
total_litres_of_pure_alcohol     1.2
dtype: float64

Europe mean alcohol consumotion
 beer_servings                   219.0
spirit_servings                 122.0
wine_servings                   128.0
total_litres_of_pure_alcohol     10.0
dtype: float64

Africa mean alcohol consumotion
 beer_servings                   32.0
spirit_servings                  3.0
wine_servings                    2.0
total_litres_of_pure_alcohol     2.3
dtype: float64

South mean alcohol wine consumotion
 beer_servings                   162.50
spirit_servings                 108.50
wine_servings                    12.00
total_litres_of_pure_alcohol      6.85
dtype: float64

Oceania mean alcohol consumotion
 beer_servings                   52.50
spirit_servings                 37.00
wine_servings                    8.50
total_litres_of_pure_alcohol     1.75
dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame